*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 1rem 2rem;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    font-weight: 900;
    z-index: 1000;

}

button:active{
    scale: 0.95;
}

button:hover{
    cursor: pointer;
}

h1{
    color: white;
    position: absolute;
}