*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    cursor: none;
}

main{
    height: 100%;
    width: 100%;
}

#cursor{
    height: 50px;
    position: fixed;
    transform: translate(-50%, -50%);
}