*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border: 2px solid red;
    padding: 50px;
    border-radius: 2rem;
    font-size: 4rem;
    color: black;
    margin-right: 40px;
}

button{
    border-radius: 8px;
    padding: 2rem;
    font-size: 2rem;
}

#inc{
    background-color: green;
}

#dec{
    background-color: red;
}