*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 4rem;
    width: 50%;
}

.card p{
    text-align: center;
    font-family: monospace;
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.card p span{
    color: royalblue;
}

.outer{
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    background-color: rgb(191, 188, 188);
    margin-bottom: 2rem;
}

.inner{
    height: 100%;
    width: 0;
    background-color: green;
    border-radius: 1rem;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bottom h2{
    font-size: 4rem;
    font-family: monospace;
}

button{
    padding: 1rem 1.5rem;
    background-color: green;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 1rem;
}

button:active{
    scale: 0.95;
}




