*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

    width: 320px;
}

.card img{
    height: 230px;
    width: 230px;
    object-fit: cover;
    border-radius: 50%;
}

.card h2{
    font-size: 1.8rem;
}

.card h3{
    font-size: 1.5rem;
    color: red;
}

.card p{
    font-size: 14px;
}