*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: rgb(222, 221, 221);
    padding: 30px 30px;
    border-radius: 1rem;
}

.img-container{
    position: relative;
}

.img-container i{
    position: absolute;
    left: 50%;
    top: 50%;
    color: transparent;
    background: linear-gradient(45deg, #ff006a, #ff8a00, #ffd000);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0 10px 30px rgba(0,0,0,0.25);
    font-size: 6rem;
    transform: translate(-50%, -100%) scale(0) rotate(-60deg);
    opacity: 0;
    transition: transform ease-in 0.4s;
}

.card img{
    height: 400px;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.card h2{
    text-align: center;
}